!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %header
  %body
    %div.wrapper
      %div.side-bar
        %div.header
          %h3.name
            seo
          %ul.header-icon
            %li.icon
              %a{href:""}
                %i.fa.fa-edit
                %i.fa.fa-cog
        %div.messages
          =render partial: 'messages/group'
      %div.chat
        %div.header
          %div.group-name
            sample
            %ul.member-list
              Member:
              %li.member
                me
          %div.edit-button
            %a
              Edit
        %div.chat-blocks
          =render partial: 'messages/chat-box'
        %div.form
          %form.chat
            %input.message{type: "text", placeholder: "type a message", name: "message-content"}
              %label.upload-label{for: "upload-icon"}
                %i.fa.fa-image
                %input#upload-icon.hidden-icon{type: "file", name: "image-content", style: "display: none"}
          %input.send-button{type: "submit",value:"Send"}
