!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %header
  %body
    %div#wrapper
      %div.side-bar
        %div.header
          %h3.name
            seo
        %div.messages
          %div.group
            sample
          %div.recent-message
            最近のメッセージ
      %div.chat
        %div.header
  %footer
