@import "./reset";
$white:#FFFFFF;

.wrapper{
  width:100vw;
  height:100vh;
}
.side-bar {
  background-color:#2f3e51;
  width:300px;
  height: 100vh;

  .header {
    background-color: #253141;
    line-height:100px;
    padding: 0 20px;

    .name{
      font-size: 16px;
      font-weight: bold;
      color: $white;
    }
  }

  .messages {
    height: 100px;
    padding: 0 20px;

    .group{
      color: $white;
      font-size: 15px;
      padding-top: 20px;
    }
    .recent-message{
      color: $white;
      font-size: 11px;
      padding: 5px 0 20px;
    }
  }
}




.chat {
 background-color:#AAAAAA;
 width:calc(100% - 300px);
}

