@import "./reset";
@import "./clearfix";
@import "./padding";
$white:#FFFFFF;
$skyblue:#38AEF0;


.wrapper{
  display: flex;

  .side-bar {
    background-color:#2f3e51;
    width:300px;
    height: 100vh;

    .header {
      background-color: #253141;
      line-height:100px;
      padding: 0 20px;

      .name{
        font-size: 16px;
        font-weight: bold;
        color: $white;
      }
    }

    .messages {
      height: 100px;
      padding: 0 20px;

      .group{
        color: $white;
        font-size: 15px;
        padding-top: 20px;
      }
      .recent-message{
        color: $white;
        font-size: 11px;
        padding: 5px 0 20px;
      }
    }
  }

  .chat {
   background-color: $white;
   width: calc(100% - 300px);
   position:relative;

    .header{
      @include padding;
      background-color: $white;
      height:100px;
      border-bottom: 1px solid #eeeeee;

      .group-name{
        @include clearfix();
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
        float:left;
      }

        .member-list{
          color: #999999;
          font-size: 12px;

          .member{
            display:inline;
            padding-top: 15px;
          }
        }

      .edit-button{
        border: 1px solid $skyblue;
        height:40px;
        line-height: 40px;
        margin-top: 28px;
        padding:0 20px;
        float:right;
        display: inline;
        color: $skyblue
      }
    }

    .chat-block{
      padding: 46px 40px 40px 40px;

      .date{
        list-style: none;

        .user-name{
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          display: inline;
        }
        .day{
          font-size: 12px;
          color:#999999;
          display: inline;
          padding-left: 10px;
        }
        .time{
          font-size: 12px;
          color:#999999;
          display: inline;
        }
      }

      .text {
        font-size: 14px;
        color:#434A54;
        padding-top: 10px;
      }
    }

    .chat-blocks{
      @include padding;

      .date{
        list-style: none;

        .user-name{
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          display: inline;
        }
        .day{
          font-size: 12px;
          color:#999999;
          display: inline;
          padding-left: 10px;
        }
        .time{
          font-size: 12px;
          color:#999999;
          display: inline;
        }
      }

      .text {
        font-size: 14px;
        color:#434A54;
        padding-top: 10px;
      }
    }

    .form{
      background-color:#DDDDDD;
      box-sizing: border-box;
      position:absolute;
      height:90px;
      bottom: 0;
      width:100%;
      padding:20px 40px 20px 40px;


      .chat{
        height:50px;
        width:calc(100% - 125px);
        box-sizing: border-box;
        display: inline-block;


        .text{
          height:100%;
          width:100%;
          border:none;
          font-size: 16px;
          color: #434A54;
          padding-left: 10px;
        }
      }

      .send-button{
        background-color: $skyblue;
        color: $white;
        line-height: 50px;
        font-size: 16px;
        padding: 0px 30px;
        height:50px;
        float:right;
      }

    }

  }

}
